.itinerary-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itinerary-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.form-container1 {
  width: 500px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container1 .body {
  flex: 60%;
}

.form-container1 .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container1 .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: #819f87;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}