.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #819f87;
}

.loginShow {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  transform: scale(0);
}

.loginShow.active {
  transform: scale(1) translateY(25px);
  transition: 500ms;
  opacity: 1;
  display: block;
  z-index: 1;
  backdrop-filter: grayscale(50%);
}

#closeLogin {
  position: absolute;
  right:20px;
  top: 20px
} 

#closeLogin span {
  scale: 2;
}

